* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f9f9fb;
}

#left-section {
	width: 25vw;
	height: 100vh;
	overflow: auto;
	display: inline-block;
	position: relative;
}

#heading {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 1em 2em;
	height: 10vh;
}

#heading img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

#heading h2 {
	color: #4347fe;
}

.list-class {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.list-class li {
	margin-top: 20px;
	width: 90%;
}

.collapsible {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	color: #2b2553;
	outline: none;
	font-size: 15px;
	border: 1px solid #d8d5d5;
	border-radius: 4px;
	font-weight: 600;
}

.collapsible:after {
	content: "\203a";
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	margin-top: 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.content ul {
	padding: 10px 26px;
}

/* right section */
#nav-bar {
	width: 75vw;
	height: 10vh;
	position: fixed;
	left: 25vw;
	top: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
}

#nab-bar > div {
	display: flex;
}

#nav-bar select {
	width: 100px;
	height: 30px;
	margin-left: 10px;
}

#helper-buttons {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	width: 80%;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 10vh;
	background-color: inherit;
	border-radius: 4px;
}

#helper-buttons img {
	width: 50px;
	height: 50px;
	display: block;
	/* border: 1px solid black; */
}

#bottom-bar {
	width: 75vw;
	height: 10vh;
	position: fixed;
	left: 25vw;
	bottom: 0;
	z-index: 2000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
}

#custom-input-textarea {
	position: fixed;
	width: 200px;
	height: 80px;
	bottom: 12vh;
	left: 27vw;
	outline: none;
	resize: none;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 5px 10px;
	overflow: auto;
	display: none;
}

.hide-custom-textarea {
	display: initial;
}

.bottom-bar-button {
	width: 160px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	outline: none;
	border: 2px solid;
	transition: 0.4s;
	cursor: pointer;
	background: white;
}

#custom-input {
	color: rgb(84, 152, 241);
}

#submit-button {
	color: #f44336;
}

#custom-input:hover {
	color: white;
	background: rgb(84, 152, 241);
}

#submit-button:hover {
	color: white;
	background: #f44336;
}
