body{
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}

#left-section{
    width: 25vw;
    height: 100vh;
    font-family: sans-serif;
    padding: 20px 30px;
    overflow: auto;
    display: inline-block;
}

#heading{
    width: 100%;
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
}

#heading img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#heading h2{
    color: rgb(44,120,172);
}

.list-class{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* right section */
#nav-bar{
    width: 75vw;
    height: 10vh;
    position: fixed;
    left: 25vw;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

#themes{
    height: 4px;
    width: 180px;
    border: 2px solid rgb(121, 131, 187);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#themes button{
    width: 10px;
    height: 16px;
    outline: none;
    border-radius: 50%;
    box-sizing: border-box;
}

.red{
    background-color: rgb(51,191,239);
    border: 2px solid rgb(51,191,239);
}

.blue{
    background-color: rgb(230,128,56);
    border: 2px solid rgb(230,128,56);
}

.green{
    background-color: rgb(33,80,128);
    border: 2px solid rgb(33,80,128);
}

@keyframes theme_animation{
    from{
        transform: scale(1,1);
        box-shadow: none;
    }
    to{
        transform: scale(1.5,1.5);

        box-shadow: inset 0px 0px 0px 3px white;
    }
}

.highlight{
    animation: theme_animation 0.3s ease-in-out;
    animation-fill-mode: both;
}

#helper-buttons img{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    /* border: 1px solid black; */
}

#bottom-bar{
    width: 75vw;
    height: 10vh;
    position: fixed;
    left: 25vw;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}  

#custom-input-textarea{
    position: fixed;
    width: 200px;
    height: 80px;
    bottom: 12vh;
    left: 27vw;
    outline: none;
    resize: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px 10px;
    overflow: auto;
    display: none;
}

.hide-custom-textarea{
    display: initial !important;
}

.bottom-bar-button{
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 0% 110%;
    transition: background-size .5s, color .5s;
}

#submit-button{
    color: rgb(84,211,169);
    border: 2px solid rgb(84,211,169);
    background-image: linear-gradient(rgb(84,211,169), rgb(84,211,169));
}

#custom-input{
    color: rgb(84, 152, 241);
    border: 2px solid rgb(84, 152, 241);
    background-image: linear-gradient(rgb(84, 152, 241), rgb(84, 152, 241));   
}

.bottom-bar-button:hover{
    background-size: 100% 100%;
    color: #fff !important;
}

@keyframes submit_animation{
    from{
        
    }
    to{
        transform: translate(-60px) rotateX(360deg);
        font-size: 18px;
        width: 40px;
        border-radius: 50%;
        background-color: rgb(84,211,169);
        color: white;
    }
}

.onSubmit{
    animation: submit_animation 0.4s ease-in-out;
    animation-fill-mode: both;
}


/*  output div */
#output-div{
    width: 90vw;
    height: 90vh;
    box-sizing: border-box;
    border: 1px solid red;
    position: fixed;
    top: 5vh;
    left: 5vw;
    z-index: 2000;
    background-color: white;
    display: none;
}

#cross-output-div{
    position: absolute;
    top: 0;
    right: 0;
}
